body{

    font-family: 'The Nautigal', cursive;
    font-size: 50px;
    background: linear-gradient(to right, #3e5151, #decba4);
    color:ghostwhite;
}

#para1{
    background: linear-gradient(to right, #4e54c8, #8f94fb);
}
#para2{
    background: linear-gradient(to right, #c33764, #1d2671);
}
#para3{
    background: linear-gradient(to right, #3494e6, #ec6ead);
}